:root {
    --dark-grey: #1E1E1E;
    --light-orange: #E9AA89;
}

* {
    margin: 0;
}

main {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: var(--dark-grey);
    color: white;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h6 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 80px 30px;
}

.grid {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 1rem;
}

.img-container {
    height: 167px;
    width: 173px;
    background-color: white;
}